.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }

.container.title-container
  %h1 Create Team Page

= form_for :team, url: team_create_path, html: { multipart: true } do |f|

  .container.form-container
    .row
      .col-md-4.form-img-wrapper
        %label.cabinet.btn.btn-primary
          .text
            Upload team picture
          = f.file_field :image, class: %w[file]

      .col

        %h4
          Team Information
        %div.form-section

          .field
            = f.label :name
            %br/
            = f.text_field :name, autofocus: true, class: %w[input form-control]

          .field
            = f.label "Team Password (Give to new members so they can join)"
            %br/
            = f.text_field :password, autofocus: true, class: %w[input form-control]
            %br/

          .field
            = f.label "Bio (optional)"
            %br/
            = f.text_field :description, autofocus: true, class: %w[input form-control]

        .row.actions.form-section
          .col-md-8
            = f.submit "Create Team", class: %w[btn btn-primary]
          .col
            = link_to "Cancel", :back, class: %w[btn btn-secondary]
