.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }

%div.container.title-container
  %h1= "#{@team.name}"

%div.container.form-container
  .row
    .col-md-8.form-img-wrapper
      = image_tag @team.image.url

    .col-md-4
      %div.container.title-container
        %h4 Bio

      %div.container.title-container
      - if @team.description == nil || @team.description == ""
        %h6 No Bio yet.
      - else
        %h6 #{@team.description}

%div.container.title-container
  %h4 Team Leader
.content
  = render :partial => 'users/display_users', :locals => { :@users => [@team.leader], :promotable => false, :current_user => current_user, :@team => @team}


%div.container.title-container
  %h4 Members

- if @team.members.length == 1
  %div.container.title-container
    %h6 None
- else
  .content
    = render :partial => 'users/display_users', :locals => { :@users => @team.members - [@team.leader], :promotable => true, :current_user => current_user, :@team => @team}

%div.container.form-container
  .row
    .col-md-6
      %div.container.title-container
        %h2 Become a Member

        = form_tag(add_member_path(@team), :method => 'PATCH', class: %w[form form-inline my-2 my-lg-0]) do
          = text_field_tag(:password, nil, :placeholder => "Team Password", class: %w[input form-control], :id => "password")
          = submit_tag "Join Team", name: nil, class: %w[button btn btn-outline-success my-2 my-sm-0]

    .col-md-6
      %div.profile-button-wrapper.col-12
        %table
          %tr
            %td
              - if current_user.is_member_of(@team)
                = button_to "Leave Team", leave_team_path(current_user),  { confirm: "Are you sure?" }
            %td
              - if current_user.admin?
                = button_to "Delete Team", delete_team_path(@team), data: { confirm: "Are you sure?" }, method: :delete
