.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }

%ul#details
  = @message

%div.container.title-container
  %h2 Dashboard

%div.container
  - @announcements.each_slice(4) do |slice|
    %div.row
      - slice.each do |announcement|
        %div.ann-tile-wrapper.col-md-3.col-md-3

          %div.ann-tile

            %a.ann-tile-link{:href => announcement_path(announcement)}
              %div.user-tile-img-overlay
                %p Take a look!

              %div.user-tile-info
                &nbsp              

                %h4{align: "center"}= announcement.title
                
                &nbsp

                %div.container 
                  &nbsp

                %div.container{ align: "center" }
                  &nbsp

                  = link_to "View", announcement_path(announcement), { class: 'btn btn-primary'}
  &nbsp

%div.container
  &nbsp

  - if current_user.admin?
    %h6{align: "left"}= button_to "Make Announcement", new_announcement_path, method: :get, class: %w[button btn btn-outline-success my-2 my-sm-0]

