%div.container
  - @users.each_slice(4) do |slice|
    %div.row
      - slice.each do |user|
        %div.user-tile-wrapper.col-sm-12.col-md-3

          %div.user-tile

            %a.user-tile-link{:href => user_path(user)}
              %div.user-tile-img{:style => "background-image: url('#{user.image.url}')"}

                %div.user-tile-img-overlay
                  %p= "More about #{user.first} #{user.last}"

              %div.user-tile-info

                - if user.team_name.blank?
                  - team = "No team"
                - else
                  - team = user.team_name

                - if user.major
                  - major = user.major
                - else
                  - major = "No major"

                - if user.year
                  - year = user.year
                - else
                  - year = "No year"

                %p.team= "#{team}"
                %h4= "#{user.first} #{user.last}"
                %p.user-about.year= "#{major}"
                %p.user-about.year= "#{year}"
                %p.user-about.skillset= "Skills: #{user.skillset}"

            %div.user-contact
              - if user.facebook && !user.facebook.empty?
                %a.contact.fb{:target => "_blank", :href => "https://www.#{user.facebook}"}
                  %i.fab.fa-lg.fa-facebook-square
              - else
                %a.contact.fb.inactive
                  %i.fab.fa-lg.fa-facebook-square

              - if user.linkedinLstring && !user.linkedinLstring.empty?
                %a.contact.linkedin{:target => "_blank", :href => "https://www.#{user.linkedinLstring}"}
                  %i.fab.fa-lg.fa-linkedin
              - else
                %a.contact.linkedin.inactive
                  %i.fab.fa-lg.fa-linkedin

            - if promotable
              - if current_user.is_leader_of(@team)
                %div.container.title-container
                  = form_tag(promote_to_leader_path(team_id: @team.id, user_id: user.id), :method => 'PATCH', class: %w[form form-inline my-2 my-lg-0]) do
                    = submit_tag "Promote to Leader", name: nil, class: %w[button btn btn-outline-success my-2 my-sm-0], data: { confirm: "Are you sure?" }
                %div.container.title-container
                  = form_tag(leave_team_path(user), class: %w[form form-inline my-2 my-lg-0]) do
                    = submit_tag "Kick from Team", name: nil, class: %w[button btn btn-outline-success my-2 my-sm-0], data: { confirm: "Are you sure?" }
