%h1 Create Account Page

= form_tag create_path do

  = label :user, :email, 'Email'
  = text_field :email, 'email'

  = label :user, :password, 'Password'
  = password_field :password, 'password'

  = submit_tag 'Create Account'

= link_to 'Back', home_path
