.content
  = render :partial => 'users/nav_bar', :locals => { :current_user => current_user }

.content
  = render :partial => 'users/flash_messages', :locals => { :flash => flash }

.container.title-container
  %h2 Update Your Account


-# .container.form-container

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|
  = render "devise/shared/error_messages", resource: resource

  .container.form-container
    .row
      .col-md-4.form-img-wrapper
        = image_tag(@user.image.url, :style => "border-radius: 50%; max-height: 260px; max-width:260px;", alt: "missing.png")

        %label.cabinet.btn.btn-primary.upload-image-col
          .text
            Upload new image
          = f.file_field :image, class: %w[file]

      .col

        %h4
          Contact Information
        %div.form-section
          .row
            .field.col-md-5
              = f.label :first
              %br/
              = f.text_field :first, :placeholder => "ex. Dwigt", autofocus: true, class: %w[input form-control]
            .field.col-md-4
              = f.label :last
              %br/
              = f.text_field :last, :placeholder => "ex. Schrute", autofocus: true, class: %w[input form-control]
            .field.col
              = f.label :SID
              %br/
              = f.text_field :sid, autofocus: true, class: %w[input form-control]

          .row
            .field.col-md-5
              = f.label :major
              %br/
              = f.text_field :major, :placeholder => "ex. Paper Salesman", autofocus: true, class: %w[input form-control]
            .field.col-md-2
              = f.label :Year
              %br/
              = f.text_field :year, :placeholder => "ex. 2", autofocus: true, class: %w[input form-control]



          .field
            = f.label :skillset
            %br/
            = f.text_field :skillset, autofocus: true, class: %w[input form-control]

          .row
            .field.col-md-6
              = f.label "LinkedIn URL \(no https or www\)"
              %br/
              = f.text_field :linkedinLstring, autofocus: true, class: %w[input form-control]
            .field.col-md-6
              = f.label "Facebook URL \(no https or www\)"
              %br/
              = f.text_field :facebook, autofocus: true, class: %w[input form-control]

        %h4
          Account Settings
        %div.form-section
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email", class: %w[input form-control]

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}

          .field
            = f.label "New Password"
            %br/
            = f.password_field :password, autocomplete: "new-password", class: %w[input form-control]

          .field
            = f.label "Confirm new password"
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password", class: %w[input form-control]

          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              characters minimum

          .field
            = f.label :current_password
            %i (needed to make changes to email or password)
            %br/
            = f.password_field :current_password, autocomplete: "current-password", class: %w[input form-control]

        .row.actions.form-section
          .col-md-8
            = f.submit "Update", class: %w[btn btn-primary]
          .col
            = link_to "Cancel", :back, class: %w[btn btn-secondary]

.container.form-container
  .row
    .col-md-4
    .col
      %h4 Delete my account
      .form-section.danger
        .field
          %p
            Danger Zone: Delete your entire account
          = button_to "Delete my account", registration_path(resource_name), params: {toDelete: current_user.id}, data: { confirm: "Are you sure?" }, method: :delete, class: %w[btn btn-danger]
